<tr>
  <td><%= rank %></td>
  <td><%= team.id %></td>
  <td><%= link_to team.name, team_path(team) %></td>
  <td><%= team.all_completed_match.count %></td>
  <td><%= team.win_matches.count %></td>
  <td><%= team.all_completed_match.count - team.win_matches.count %></td>
  <td><%= number_to_percentage(team.win_rate, precision: 0) %></td>
</tr>