<tr>
  <th><%= match.id %></th>
  <td><%= link_to match.home_team.name, team_path(match.home_team) %></td>
  <td><%= get_match_point(match) %></td>
  <td><%= link_to match.away_team.name, team_path(match.away_team) %></td>
  <td><%= match.created_at %></td>
  <td>
  <% if match.status == 'invited' %>
    <% if current_user.is_home_team?(match) %>
      Waiting
    <% else%>
      <%= link_to 'Start', start_match_path(match), class: 'button is-success' %>
    <% end%>
  <% else %>
    <%= link_to "detail", match_path(match), class: 'button is-success'%>
  <% end %>
  </td>
</tr>