<% content_for :side_menu do %>
  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">
          Match management
        </p>
        <ul class="menu-list">
          <li><%= link_to icon("comment-o", "On going matches"), matches_path(status: 'started'), class: "#{'is-active' if current_page?(matches_path(status: 'started'))}" %></li>
          <li><%= link_to icon("comment-o", "Invited matches"), matches_path(status: 'invited'), class: "#{'is-active' if current_page?(matches_path(status: 'invited'))}" %></li>
          <li><%= link_to icon("comment-o", "Finished matches"), matches_path(status: 'finished'), class: "#{'is-active' if current_page?(matches_path(status: 'finished'))}" %></li>
          <li><%= link_to icon("paper-plane-o", "Create new match"), new_match_path, class: "#{'is-active' if current_page?(new_match_path)}" %></li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <p class="menu-label"><%= params[:status] %> Match</p>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render file: "layouts/application" %>